extends layout

block content
  .page-header
    h1= '历史推荐纪录'
  .row
   .col-md-6
    table.table 
      thead
        th='日期'
        th='代码'
        th='名称'
        th='预测值'
        th='涨跌幅'
        th='状态'
      tbody
        each row in res_h
          tr
            td=row.c_yearmonthday
            td=row.code
            td=row.name
            td=row.predict
            td=row.p_change
            td=row.acc

